.nav-link {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid #ce3c83;
}

.is-active {
    font-weight: bold;
    color: #ff69b4;
    /* Example: Pink color for active link */
}