.custom-bg {
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
}

input.filled+label,
.filled-label {
    transform: translate(-3px, -10px) scale(0.9);
    color: var(--primary-color);
}